In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [4]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text

In [7]:
df = pd.read_csv("/content/drive/My Drive/Data Engineering Final Project Group/Crimes.csv")
df.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JH117298,01/16/2024 01:00:00 AM,038XX W DIVERSEY AVE,0810,THEFT,OVER $500,STREET,N,N,2524,35,06,1150337.0,1918345.0,41.931844,-87.722951,"(41.931843966, -87.722950868)"
1,JG561057,12/31/2023 04:30:00 PM,004XX N WABASH AVE,0460,BATTERY,SIMPLE,STREET,N,N,1834,42,08B,1176592.0,1902931.0,41.888994,-87.626935,"(41.888993854, -87.626934833)"
2,JG512939,11/21/2023 02:28:00 PM,056XX S ELIZABETH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,RESIDENCE - YARD (FRONT / BACK),N,N,713,16,15,1168951.0,1867382.0,41.791613,-87.656025,"(41.791613294, -87.656024853)"
3,JG496628,11/08/2023 03:27:00 PM,059XX N GLENWOOD AVE,0460,BATTERY,SIMPLE,SCHOOL - PUBLIC BUILDING,Y,N,2013,48,08B,1165910.0,1939379.0,41.989244,-87.665120,"(41.989243623, -87.665119726)"
4,JG512358,11/21/2023 02:12:00 AM,049XX W SCHUBERT AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,ALLEY,N,N,2521,31,14,1143030.0,1917505.0,41.929679,-87.749824,"(41.929678531, -87.749824286)"

In [ ]:
engine = create_engine('mysql+pymysql://root:rootroot@localhost')

In [ ]:
with engine.connect() as connection:
    connection.execute(text("CREATE DATABASE IF NOT EXISTS project"))

In [ ]:
with engine.connect() as connection:
    connection.execute(text("USE project"))

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""CREATE TABLE IF NOT EXISTS Crimes (
                                `CASE#` VARCHAR(15) NOT NULL,
                                `DATE  OF OCCURRENCE` VARCHAR(30) NOT NULL,
                                `BLOCK` VARCHAR(50) NOT NULL,
                                ` IUCR` VARCHAR(10) NOT NULL,
                                ` PRIMARY DESCRIPTION` VARCHAR(70) NOT NULL,
                                ` SECONDARY DESCRIPTION` VARCHAR(70),
                                ` LOCATION DESCRIPTION` VARCHAR(70),
                                `ARREST` VARCHAR(2) NOT NULL,
                                `DOMESTIC` VARCHAR(2),
                                `BEAT` VARCHAR(10),
                                `WARD` VARCHAR(10),
                                `FBI CD` VARCHAR(10),
                                `X COORDINATE` VARCHAR(10),
                                `Y COORDINATE` VARCHAR(10),
                                `LATITUDE` VARCHAR(20),
                                `LONGITUDE` VARCHAR(20),
                                `LOCATION` VARCHAR(50))"""))
            transaction.commit()
            print("Creation was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Creation was successful.

In [ ]:
engine_db = create_engine('mysql+pymysql://root:rootroot@localhost/project')

In [ ]:
df.to_sql('crimes', con=engine_db, if_exists='append', index=False)

258062

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""ALTER TABLE crimes
                                CHANGE `CASE#` case_no VARCHAR(15),
                                CHANGE `DATE  OF OCCURRENCE` date_of_occurrence VARCHAR(30),
                                CHANGE `BLOCK` block VARCHAR(50),
                                CHANGE ` IUCR` iucr VARCHAR(10),
                                CHANGE ` PRIMARY DESCRIPTION` primary_description VARCHAR(70),
                                CHANGE ` SECONDARY DESCRIPTION` secondary_description VARCHAR(70),
                                CHANGE ` LOCATION DESCRIPTION` location_description VARCHAR(70),
                                CHANGE `ARREST` arrest VARCHAR(2),
                                CHANGE `DOMESTIC` domestic VARCHAR(2),
                                CHANGE `BEAT` beat VARCHAR(10),
                                CHANGE `WARD` ward VARCHAR(10),
                                CHANGE `FBI CD` fbi_cd VARCHAR(10),
                                CHANGE `X COORDINATE` x_coordinate VARCHAR(10),
                                CHANGE `Y COORDINATE` y_coordinate VARCHAR(10),
                                CHANGE `LATITUDE` latitude VARCHAR(20),
                                CHANGE `LONGITUDE` longitude VARCHAR(20),
                                CHANGE `LOCATION` location VARCHAR(50)
                                """))
            transaction.commit()
            print("Alter table was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Alter table was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""ALTER TABLE crimes
                                       ADD COLUMN `case_id` INT AUTO_INCREMENT PRIMARY KEY"""))
            transaction.commit()
            print("Alter table was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Alter table was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""ALTER TABLE crimes
                                       ADD COLUMN date date,
                                       ADD COLUMN time time"""))
            transaction.commit()
            print("Alter table was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Alter table was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""
                                    UPDATE crimes
                                    SET
                                        date = (STR_TO_DATE(SUBSTRING_INDEX(date_of_occurrence, ' ', 1),'%m/%d/%Y')),
                                        time = TIME_FORMAT(STR_TO_DATE(SUBSTRING_INDEX(date_of_occurrence, ' ', -2), '%r'), '%H:%i:%s')"""))
            transaction.commit()
            print("Update table was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Update table was successful.

In [ ]:
engine_db = create_engine('mysql+pymysql://root:rootroot@localhost/project')

In [ ]:
df = pd.read_sql("SELECT * FROM crimes", con = engine_db)

In [ ]:
df.drop('case_id', axis=1).duplicated().sum()

9

In [ ]:
df.shape

(258062, 20)

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            # SQL query to remove duplicates while keeping only one of each
            connection.execute(text("""
                WITH cte AS (
                    SELECT
                        case_id,
                        case_no,
                        date_of_occurrence,
                        block,
                        iucr,
                        primary_description,
                        secondary_description,
                        location_description,
                        arrest,
                        domestic,
                        beat,
                        ward,
                        fbi_cd,
                        x_coordinate,
                        y_coordinate,
                        latitude,
                        longitude,
                        location,
                        ROW_NUMBER() OVER (
                            PARTITION BY
                                case_no,
                                date_of_occurrence,
                                block,
                                iucr,
                                primary_description,
                                secondary_description,
                                location_description,
                                arrest,
                                domestic,
                                beat,
                                ward,
                                fbi_cd,
                                x_coordinate,
                                y_coordinate,
                                latitude,
                                longitude,
                                location
                            ORDER BY case_id
                        ) AS rn
                    FROM crimes
                )
                DELETE FROM crimes
                WHERE case_id IN (
                    SELECT case_id FROM cte WHERE rn > 1
                )
            """))
            transaction.commit()
            print("Removing duplicates was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Removing duplicates was successful.

In [ ]:
query = "SELECT * FROM crimes"
df = pd.read_sql(query, engine_db)

In [ ]:
df.drop('case_id', axis=1).duplicated().sum()

0

In [ ]:
df.shape

(258053, 20)

In [ ]:
258062 - 258053

9

In [ ]:
df['case_no'].duplicated().sum()

22

In [ ]:
df.shape

(258053, 20)

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""
            WITH cte AS (
                SELECT
                    case_id,
                    case_no,
                    date_of_occurrence,
                    block,
                    iucr,
                    primary_description,
                    secondary_description,
                    location_description,
                    arrest,
                    domestic,
                    beat,
                    ward,
                    fbi_cd,
                    x_coordinate,
                    y_coordinate,
                    latitude,
                    longitude,
                    location,
                    ROW_NUMBER() OVER (PARTITION BY case_no ORDER BY case_id) AS rn
                FROM crimes
            )
            DELETE FROM crimes
            WHERE case_id IN (
                SELECT case_id
                FROM cte
                WHERE rn > 1
            )"""))
            transaction.commit()
            print("Removing duplicates was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Removing duplicates was successful.

In [ ]:
query = "SELECT * FROM crimes"
df = pd.read_sql(query, engine_db)

In [ ]:
df.shape

(258031, 20)

In [ ]:
df['case_no'].duplicated().sum()

0

In [ ]:
258031 + 9 + 22

258062

In [ ]:
df.columns

Index(['case_no', 'date_of_occurrence', 'block', 'iucr', 'primary_description',
       'secondary_description', 'location_description', 'arrest', 'domestic',
       'beat', 'ward', 'fbi_cd', 'x_coordinate', 'y_coordinate', 'latitude',
       'longitude', 'location', 'case_id', 'date', 'time'],
      dtype='object')

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""UPDATE crimes
                      SET location_description = 'unknown'
                      WHERE location_description IS NULL"""))
            transaction.commit()
            print("Updating was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Updating was successful.

In [ ]:
query_update = """SELECT count(*)
                    FROM crimes
                   WHERE location_description = 'unknown'"""
pd.read_sql(query_update, engine_db)

   count(*)
0      1058

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""UPDATE crimes
                      SET latitude = 'unknown'
                      WHERE latitude IS NULL"""))
            transaction.commit()
            print("Updating was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Updating was successful.

In [ ]:
query_update = """SELECT count(*)
                    FROM crimes
                   WHERE latitude = 'unknown'"""
pd.read_sql(query_update, engine_db)

   count(*)
0        92

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""UPDATE crimes
                      SET longitude = 'unknown'
                      WHERE longitude IS NULL"""))
            transaction.commit()
            print("Updating was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Updating was successful.

In [ ]:
query_update = """SELECT count(*)
                    FROM crimes
                   WHERE location IS NULL"""
pd.read_sql(query_update, engine_db)

   count(*)
0        92

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text(("""CREATE TABLE IF NOT EXISTS incident_type (
                                    `iucr` VARCHAR(4) NOT NULL,
                                    `primary_description` VARCHAR(70) NOT NULL,
                                    `secondary_description` VARCHAR(70),
                                    PRIMARY KEY (`iucr`)
                                )""" )))
            transaction.commit()
            print("Creation was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Creation was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text(("""INSERT INTO incident_type
                                                    (`iucr`, `primary_description`, `secondary_description`)
                                                SELECT DISTINCT
                                                    `iucr`,
                                                    `primary_description`,
                                                    `secondary_description`
                                                FROM
                                                    crimes
                                                ORDER BY `iucr`"""
                                   ))
                              )
            transaction.commit()
            print("Insert operation successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Insert operation successful.

In [ ]:
query_incident = "SELECT * FROM incident_type"
df_incident = pd.read_sql(query_incident, engine)

print(df_incident.head())
df_incident.shape

   iucr      primary_description                    secondary_description
0  0110                 HOMICIDE                      FIRST DEGREE MURDER
1  0261  CRIMINAL SEXUAL ASSAULT                     AGGRAVATED - HANDGUN
2  0262  CRIMINAL SEXUAL ASSAULT               AGGRAVATED - OTHER FIREARM
3  0263  CRIMINAL SEXUAL ASSAULT  AGGRAVATED - KNIFE / CUTTING INSTRUMENT
4  0264  CRIMINAL SEXUAL ASSAULT      AGGRAVATED - OTHER DANGEROUS WEAPON

(328, 3)

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text(("""CREATE TABLE IF NOT EXISTS location_description (
                                    `loc_des_id` INT AUTO_INCREMENT NOT NULL,
                                    `location_description` VARCHAR(70) NOT NULL,
                                    PRIMARY KEY (`LOC_DES_ID`)
                                )""" )))
            transaction.commit()
            print("Creation was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Creation was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""INSERT INTO location_description
                                            (`location_description`)
                                        SELECT
                                            DISTINCT
                                            `location_description`
                                        FROM
                                            crimes
                                        GROUP BY `location_description`
                                    """
                                   )
                              )
            transaction.commit()
            print("Insert operation successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Insert operation successful.

In [ ]:
query_ld = "SELECT * FROM location_description"
df_ld = pd.read_sql(query_ld, engine)

# Display the DataFrame
print(df_ld.head())
df_ld.shape

   loc_des_id                   location_description
0           1                                 STREET
1           2                     GROCERY FOOD STORE
2           3  OTHER RAILROAD PROPERTY / TRAIN DEPOT
3           4                        OTHER (SPECIFY)
4           5                 VEHICLE NON-COMMERCIAL

(129, 2)

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""CREATE TABLE IF NOT EXISTS case_location (
                                    `location_id` INT AUTO_INCREMENT NOT NULL,
                                    `loc_des_id` INT NOT NULL,
                                    `block` VARCHAR(50) NOT NULL,
                                    `beat` VARCHAR(10) NOT NULL,
                                    `ward` VARCHAR(10) NOT NULL,
                                    `latitude` VARCHAR(20),
                                    `longitude` VARCHAR(20),
                                    PRIMARY KEY (`location_id`),
                                    FOREIGN KEY (`loc_des_id`) REFERENCES location_description(`loc_des_id`)
                                )"""
                           )
                      )
            transaction.commit()
            print("Creation was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Creation was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""INSERT INTO case_location
                                            (`loc_des_id`,
                                            `block`,
                                            `beat`,
                                            `ward`,
                                            `latitude`,
                                            `longitude`)
                                        SELECT
                                            DISTINCT
                                            ld.loc_des_id,
                                            c.block,
                                            c.beat,
                                            c.ward,
                                            c.latitude,
                                            c.longitude
                                        FROM
                                            crimes c
                                            LEFT JOIN
                                            location_description ld ON c.location_description = ld.location_description
                                    """
                                   )
                              )
            transaction.commit()
            print("Insert operation successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Insert operation successful.

In [ ]:
query_cl = "SELECT * FROM case_location "
df_cl = pd.read_sql(query_cl, engine)

# Display the DataFrame
print(df_cl.head())
df_cl.shape

   location_id  loc_des_id             block beat ward      latitude  \
0            1           1  0000X E 100TH PL  511    9  41.711731028
1            2           1  0000X E 100TH PL  511    9   41.71174126
2            3           1  0000X E 100TH PL  511    9  41.711746635
3            4           1  0000X E 100TH PL  511    9  41.711746726
4            5           1  0000X E 100TH PL  511    9  41.711753121

       longitude
0  -87.622682095
1  -87.622117959
2  -87.621656427
3  -87.621671076
4  -87.621374343

(174108, 7)

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""CREATE TABLE IF NOT EXISTS cases (
                                    `case_no` VARCHAR(15) NOT NULL,
                                    `date` Date NOT NULL,
                                    `time` Time NOT NULL,
                                    `iucr` VARCHAR(10) NOT NULL,
                                    `arrest` VARCHAR(2) NOT NULL,
                                    `domestic` VARCHAR(2),
                                    `location_id` INT NOT NULL,
                                    PRIMARY KEY (`case_no`),
                                    FOREIGN KEY (`iucr`) REFERENCES incident_type(`iucr`),
                                    FOREIGN KEY (`location_id`) REFERENCES case_location(`location_id`)
                                )"""
                           )
                      )
            transaction.commit()
            print("Creation was successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Creation was successful.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            connection.execute(text("""INSERT IGNORE INTO cases
                                            (
                                            `case_no`,
                                            `date`,
                                            `time`,
                                            `iucr`,
                                            `arrest`,
                                            `domestic`,
                                            `location_id`
                                            )
                                        SELECT
                                            c.case_no,
                                            c.date,
                                            c.time,
                                            c.iucr,
                                            c.arrest,
                                            c.domestic,
                                            ld.loc_des_id
                                        FROM crimes c
                                        LEFT JOIN
                                        location_description ld ON c.location_description = ld.location_description
                                    """
                                   )
                              )
            transaction.commit()
            print("Insert operation successful.")
        except Exception as e:
            transaction.rollback()
            print(f"Error: {e}")

Insert operation successful.

In [ ]:
query_c = "SELECT * FROM cases "
df_c = pd.read_sql(query_c, engine)

print(df_c.head())
df_c.shape

    case_no        date            time  iucr arrest domestic  location_id
0  HG196301  2024-03-21 0 days 12:40:00  3730      Y        N            1
1  HJ165002  2024-02-25 0 days 04:30:00  0460      N        N           25
2  HR300057  2023-12-25 0 days 16:30:00  0110      Y        N           15
3  HV549611  2024-04-13 0 days 21:13:00  0110      N        N            1
4  JE530582  2023-12-05 0 days 07:40:00  1320      N        N            1

(258031, 7)